body {
    height: 100vh;
    background-image: url(../images/background.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(10px); */
    background-size: 100vw 100vh;
    margin: 0px;
}

.menu {
    background-color: #f7f8fa;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
}

.menu li {
    list-style: none;
}

.site-title, .site-subtitle {
    color: white;
    text-align: center;
}

.site-subtitle {
   font-style: italic;
}