/* soft-reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    background-image: url(../images/background.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto 100vh;
    height: 100vh;
    /* backdrop-filter: blur(10px); */
}

/* se a tela tiver pelo menos 400px, vai carregar estes estilos */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/* breakpoints */
@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

/* breakpoints */
@media (min-width: 1200px) {
    body {
        font-size: 20px;
        background-image: none;
        background-color: aquamarine;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #f7f8fa;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.site-title, .site-subtitle {
    color: white;
    text-align: center;
}

.site-title {
    font-size: 4em;
}
.site-subtitle {
   font-style: italic;   
}

.img-portfolio {
    width: 180px;
    height: 180px;
}